body {
    margin: 0 auto;
    max-width: 1440px;
    background-color: #fff;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;

}

#menu {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px 144px 32px;
    // position: fixed;
    background-color: #fff;

}

hr {
    border: 0.5px solid #E9E8E8;
}

.header {

    &__logo {
        padding: 8px 0;

        &__text {
            font-weight: bold;
            font-size: 24px;
            line-height: 31px;
            color: #222222;
            text-decoration: none;
        }
    }

    &__nav {
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;


        &__link {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            padding: 10px 0;
            margin: 0 112px 0 0;

            & li {
                display: flex;
                margin: 0 20px;
            }

            &__text {
                font-size: 16px;
                line-height: 155%;
                color: #222222;
                text-decoration: none;
            }

            &__img {

                width: 10px;
                height: 5px;
                margin: 10px 0 10px 7px;
            }

        }

        &__text {
            font-size: 16px;
            line-height: 155%;
            text-decoration: none;
            color: #222222;
            margin: 0 48px 0 0;
        }

        &__button {
            border: 0 solid #086CF9;
            background: #086CF9;
            border-radius: 4px;
            padding: 12px 24px;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
        }
    }

    &__baner {


        &__hero {
            background: url(../img/header_photo.jpg);
            background-color: rgba(0, 0, 0, 0.54);
            width: 100%;
            height: 739px;
            padding: 199px 234px 283px;
            box-sizing: border-box;

            &__title {
                font-weight: bold;
                font-size: 56px;
                line-height: 73px;
                color: #FFFFFF;
                margin: 0;

            }

            &__text {
                font-size: 16px;
                line-height: 155%;
                text-align: center;
                color: #FFFFFF;
                margin: 24px auto 54px;
            }

            &__button {

                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
                padding: 16px 30px;
                background: #086CF9;
                border-radius: 4px;
                border: 0 solid #086CF9;
                margin: 0 406px;

            }
        }
    }

    &__statistics {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 56px 88px;
        margin: 0 151px;
        background: #FFFFFF;
        box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        position: relative;
        bottom: 92px;

        &__card {
            display: flex;
            flex-wrap: wrap;

            &__img {
                display: block;
                margin: 0 24px 0 0;
            }

            &__number {
                font-weight: bold;
                font-size: 36px;
                line-height: 47px;
                /* identical to box height */


                color: #222222;
            }

            &__text {
                display: block;
                font-family: DM Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 155%;
                /* identical to box height, or 25px */


                color: #086CF9;
            }
        }
    }
}

.main {
    &__about {
        display: flex;
        justify-content: space-between;
        margin: 36px 144px 128px;

        &__title {
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            margin: 0;
            color: #222222;
        }

        &__text {
            font-size: 16px;
            line-height: 155%;
            margin: 24px 79px 16px 0;
            color: #555555;
        }

        &__info {
            font-size: 20px;
            line-height: 28px;
            color: #333333;
            margin: 0 68px 32px 0;
        }

        &__button {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            padding: 16px 32px;
            background: #086CF9;
            border-radius: 4px;
            border: 0 solid #086CF9;
            color: #FFFFFF;
        }

        &__img {
            width: 595px;
            height: 433px;
        }

        &__figure {
            width: 80px;
            height: 80px;
            box-sizing: border-box;
            padding: 28px;
            background: #fff;
            border-radius: 50%;
            position: relative;
            bottom: 260px;
            left: 260px;

        }
    }

    &__service {
        margin: 0 144px 128px;

        &__title {
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            margin: 0;
            text-align: center;
            color: #222222;
        }

        &__text {
            font-size: 16px;
            line-height: 155%;
            /* or 25px */
            margin: 12px auto 48px;
            text-align: center;
            width: 423px;
            color: #555555;
        }

        &__cards {
            display: flex;
            justify-content: space-between;

            &__card {
                width: 250px;

                &__img {
                    display: block;
                    margin: 0 auto;
                }

                &__title {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 31px;
                    margin: 24px 0 16px;
                    text-align: center;
                    color: #222222;
                }

                &__text {
                    font-size: 14px;
                    line-height: 155%;
                    text-align: center;
                    color: #555555;

                }
            }
        }
    }

    &__couese {
        background: #ECF4FF;
        padding: 60px 144px;

        &__title {
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            text-align: center;
            color: #000000;
            margin: 0;
        }

        &__text {
            font-size: 16px;
            line-height: 155%;
            width: 674px;

            text-align: center;
            margin: 12px auto 48px;
            color: #555555;
        }

        &__cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &__card {
                box-sizing: border-box;
                width: 368px;
                padding: 24px 24px 35px;
                background: #FFFFFF;
                border-radius: 6px;
                margin: 0 0 30px;

                &__img {
                    width: 100%;
                    height: 208px;
                    border-radius: 6px;
                }

                &__item {
                    display: flex;
                    justify-content: space-between;
                    margin: 24px 0 25px;

                    &__img {
                        width: 32px;
                        height: 32px;
                    }

                    &__text {
                        font-size: 16px;
                        line-height: 155%;
                        box-sizing: border-box;
                        padding: 5px 0;
                        color: #555555;
                    }
                }

                &__list {
                    display: flex;
                    justify-content: space-between;
                    margin: 20px 0 18px;

                    &__title {
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 31px;
                        margin: 0;
                        color: #333333;
                    }

                    &__number {
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 31px;
                        margin: 0;
                        color: #086CF9;
                    }
                }

                &__text {
                    margin: 0;
                    font-size: 14px;
                    line-height: 155%;
                    width: 100%;
                }

            }
        }

        &__button {
            width: 176px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            padding: 16px 32px;
            color: #FFFFFF;
            background: #086CF9;
            border-radius: 6px;
            border: 0 solid #086CF9;
            margin: 0 488px;
        }
    }

    &__mentor {
        margin: 128px 144px;

        &__title {
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            margin: 0;
            text-align: center;
            color: #222222;
        }

        &__text {
            width: 551px;
            font-size: 16px;
            line-height: 155%;
            /* or 25px */
            margin: 12px auto 48px;
            text-align: center;

            color: #444444;
        }

        &__cards {
            display: flex;
            justify-content: space-between;

            &__card {
                background: #FFFFFF;
                box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.08);
                border-radius: 6px;

                &__img {
                    width: 100%;
                    height: auto;
                }

                &__title {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 31px;
                    margin: 16px 32px 8px;
                    color: #222222;
                }

                &__text {
                    font-size: 16px;
                    line-height: 155%;
                    /* identical to box height, or 25px */
                    margin: 0 32px;

                    color: #555555;
                }

                &__item {
                    display: flex;
                    justify-content: space-between;
                    margin: 24px 32px 36px;

                    &__img {
                        margin: 0 8px 0 0;
                    }

                    &__text {
                        font-size: 14px;
                        line-height: 155%;
                        /* identical to box height, or 22px */
                        margin: 0 16px 0 0;

                        color: #555555;
                    }

                    &__info {
                        font-size: 14px;
                        line-height: 155%;
                        /* identical to box height, or 22px */
                        margin: 0 0 0 99px;

                        color: #555555;
                    }
                }
            }
        }
    }

    &__event {
        margin: 0 144px 128px;

        &__title {
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            margin: 0;
            color: #222222;
            text-align: center;
        }

        &__text {
            font-size: 16px;
            line-height: 155%;
            /* or 25px */
            margin: 12px auto 48px;
            text-align: center;
            width: 421px;
            color: #444444;
        }

        &__cards {
            display: flex;
            justify-content: space-between;

            &__background {
                background: #FFFFFF;
                box-shadow: 0px 12px 45px rgba(0, 0, 0, 0.08);
                border-radius: 6px;
            }

            &__card {
                width: 368px;
                margin: -62px 0 0;


                &__img {
                    width: 100%;
                    height: 240px;
                }

                &__data {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    position: relative;
                    left: 0;
                    top: 62px;
                    background: #086CF9;
                    border-radius: 6px 0px 0px 0px;
                    box-sizing: border-box;
                    padding: 8px 12px;
                    color: #FFFFFF;
                    text-align: center;
                    width: 65px;
                }

                &__title {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 26px;
                    margin: 24px 24px 20px;
                    color: #222222;
                }

                &__item {
                    margin: 0 24px 0;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 0 32px;

                    &__img {
                        margin: 0 8px 0 0;
                    }

                    &__text {
                        font-size: 14px;
                        line-height: 155%;

                        color: #555555;
                    }
                }
            }
        }
    }

    &__numbers {
        background: #D3E5FE;
        padding: 72px 286px;

        &__cards {
            display: flex;
            justify-content: space-between;

            &__card {
                &__number {
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 62px;
                    color: #222222;
                    margin: 0 0 16px;
                    text-align: center;
                }

                &__text {
                    font-size: 16px;
                    line-height: 155%;
                    color: #555555;
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }

    &__blog {
        margin: 128px 144px;

        &__title {
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            margin: 0;
            text-align: center;
            color: #222222;
        }

        &__text {
            width: 551px;
            font-size: 16px;
            line-height: 155%;
            margin: 12px auto 48px;
            text-align: center;
            color: #444444;
        }

        &__cards {
            display: flex;
            justify-content: space-between;

            &__card {
                background: #FFFFFF;
                border: 0.5px solid #BFBFBF;
                box-sizing: border-box;
                border-radius: 4px;
                width: 368px;

                &__img {
                    width: 100%;
                    height: auto;
                }

                &__title {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 26px;
                    color: #222222;
                    margin: 24px 29px 0;
                }

                &__text {
                    font-size: 14px;
                    line-height: 155%;
                    color: #555555;
                    margin: 16px 29px 24px;
                }

                &__link {
                    font-size: 16px;
                    line-height: 155%;
                    color: #086CF9;
                    margin: 0 29px 32px;
                    display: block;
                }
            }
        }

        &__button {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            padding: 16px 32px;
            margin: 40px 514px 0;
            background: #086CF9;
            border: 0 solid #086CF9;
            border-radius: 6px;

        }
    }

    &__testimonial {
        margin: 0 144px 128px;

        &__title {
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            margin: 0;
            color: #000;
            text-align: center;
        }

        &__text {
            font-size: 16px;
            line-height: 155%;
            margin: 12px auto 42px;
            text-align: center;
            width: 500px;
            color: #555;
        }

        &__cards {
            display: flex;
            justify-content: space-between;


            &__card {
                width: 320px;
                padding: 30px 24px 38px 15px;
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
                background: #FFFFFF;
                box-shadow: 0px 13px 45px rgba(0, 0, 0, 0.08);
                border-radius: 6px;


                &__text {
                    width: 100%;
                    font-size: 16px;
                    line-height: 155%;
                    margin: 0 0 20px;
                    color: #555555;
                }

                &__img {
                    width: 72px;
                    height: 72px;
                    margin: 0 16px 0 0;
                }

                &__item {

                    padding: 10px 0;

                    &__title {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 26px;
                        color: #222222;
                        margin: 0 0 8px;
                    }

                    &__text {
                        font-size: 14px;
                        line-height: 155%;
                        color: #555555;
                        margin: 0;

                    }
                }
            }
        }
    }

    &__suscribe {
        background: #086CF9;
        border-radius: 6px;
        padding: 40px 200px 11px;
        margin: 0 250px 128px;
        height: 325px;


        &__title {
            font-weight: bold;
            font-size: 36px;
            line-height: 47px;
            color: #FCFCFC;
            text-align: center;
            margin: 0;
        }

        &__text {
            font-size: 16px;
            line-height: 155%;
            width: 491px;
            text-align: center;
            color: #F9F9F9;
            text-align: center;
            margin: 12px auto 40px;
        }

        &__form {
            width: 538px;
            margin: 0 auto;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &__email {
                background: #FFFFFF;
                border-radius: 4px;
                outline: none;
                border: 0 solid #fff;
                box-sizing: border-box;
                padding: 8px 24px;
                width: 538px;
                height: 64px;
                display: block;
                margin: 0 auto;
            }

            &__text {
                font-size: 14px;
                line-height: 155%;
                color: #555555;
                display: block;
                box-sizing: border-box;
                padding: 16px 0;
                margin: 0 0 0 24px;
                position: relative;
                bottom: 59px;
            }

            &__button {
                display: block;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                width: 115px;
                height: 48px;
                background: #086CF9;
                border-radius: 4px;
                border: 0 solid;
                color: #FFFFFF;
                margin: 0 8px 0 0;
                position: relative;
                bottom: 56px;
            }

            & input:focus~&__text {
                top: -100px;
                font-size: 12px;
                color: #FFFFFF;

            }
        }
    }
}

.footer {
    background: #D3E5FE;
    padding: 60px 144px 80px;
    display: flex;
    justify-content: space-between;

    &__education {
        width: 360px;

        &__title {
            font-weight: bold;
            font-size: 30px;
            line-height: 39px;
            color: #222222;
            margin: 0;
        }

        &__text {
            font-size: 16px;
            line-height: 21px;
            color: #444444;
            margin: 24px 0 32px;
        }


        &__icon {
            width: 48px;
            height: 48px;
            margin: 24px 16px 0 0;
        }
    }


    &__links {

        &__title {
            font-weight: bold;
            font-size: 30px;
            line-height: 39px;
            color: #222222;
            margin: 0 0 8px;
        }

        &__item {
            list-style-image: url("../img/vector.svg");
            padding: 0 0 0 20px;

            & li {
                margin: 0 0 16px 0;
            }

            &__text {
                font-size: 16px;
                line-height: 21px;
                color: #444444;
                text-decoration: none;
            }
        }
    }

    &__support {
        &__title {
            font-weight: bold;
            font-size: 30px;
            line-height: 39px;
            color: #222222;
            margin: 0 0 8px;
        }

        &__item {
            list-style-image: url("../img/vector.svg");
            padding: 0 0 0 20px;

            & li {
                margin: 0 0 16px 0;
            }

            &__text {
                font-size: 16px;
                line-height: 21px;
                color: #444444;
                text-decoration: none;

            }


        }
    }

    &__contacts {
        width: 203px;

        &__title {
            font-weight: bold;
            font-size: 30px;
            line-height: 39px;
            color: #222222;
            margin: 0 0 8px;
        }

        &__item {
            list-style-type: none;
            padding: 0;

            & li {
                margin: 0 0 16px 0;
            }

            &__img {
                margin: 0 8px 0 0;
            }

            &__text {
                font-size: 16px;
                line-height: 21px;
                color: #444444;


            }
        }
    }
}

@media (max-width: 1130px) {
    body.lock {
        overflow: hidden;
    }

    .header {
        // position: fixed;
        right: 0;
        left: 0;
        z-index: 50;


        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 136px;
            background: #fff;
            z-index: 3;
        }

        &__logo {
            position: relative;
            align-items: center;
            z-index: 3;
            overflow: hidden;


            &__text {
                display: block;
                position: relative;

            }

        }

        &__burger {
            display: block;
            position: relative;
            width: 20px;
            height: 20px;
            margin: 20px;
            position: relative;
            z-index: 4;

            &.active::before {
                transform: rotate(45deg);
                top: 9px;
                width: 20px;
                margin: 0;
            }

            &.active span {
                transform: scale(0);

            }

            &.active::after {
                transform: rotate(-45deg);
                bottom: 9px;
                width: 20px;
                margin: 0;
            }

            & span {
                background-color: #222222;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                top: 9px;
                transition: all 0.3s ease 0s;
            }

            &::before,
            &::after {
                content: '';
                background-color: #222222;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;

            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }

        &__nav {
            position: fixed;
            top: -100%;
            left: 0px;
            max-width: 80%;
            margin: 60px 0 0;
            transition: 0.3s ease 0s;
            overflow: auto;
            background: #fff;
            box-sizing: border-box;
            padding: 20px 160px;
            z-index: 2;
            transition: 1.3s ease 0s;
            border-top: 2px solid #000;

            &.active {
                top: 76px;
            }

            &__link {
                display: block;
                position: relative;



                & li {
                    list-style: none;
                    margin: 0 0 20px 0;

                }

                &__text {
                    font-size: 20px;

                }
            }
        }
    }

    .container {
        margin: 0 auto;
        margin: 0px 25px;
        // max-width: 1200px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;

    }

}