body {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #fff;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 144px 32px;
  background-color: #fff;
}

hr {
  border: 0.5px solid #E9E8E8;
}

.header__logo {
  padding: 8px 0;
}

.header__logo__text {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #222222;
  text-decoration: none;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 10px 0;
  margin: 0 112px 0 0;
}

.header__nav__link li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
}

.header__nav__link__text {
  font-size: 16px;
  line-height: 155%;
  color: #222222;
  text-decoration: none;
}

.header__nav__link__img {
  width: 10px;
  height: 5px;
  margin: 10px 0 10px 7px;
}

.header__nav__text {
  font-size: 16px;
  line-height: 155%;
  text-decoration: none;
  color: #222222;
  margin: 0 48px 0 0;
}

.header__nav__button {
  border: 0 solid #086CF9;
  background: #086CF9;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.header__baner__hero {
  background: url(../img/header_photo.jpg);
  background-color: rgba(0, 0, 0, 0.54);
  width: 100%;
  height: 739px;
  padding: 199px 234px 283px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__baner__hero__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 73px;
  color: #FFFFFF;
  margin: 0;
}

.header__baner__hero__text {
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: #FFFFFF;
  margin: 24px auto 54px;
}

.header__baner__hero__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  padding: 16px 30px;
  background: #086CF9;
  border-radius: 4px;
  border: 0 solid #086CF9;
  margin: 0 406px;
}

.header__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 56px 88px;
  margin: 0 151px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  position: relative;
  bottom: 92px;
}

.header__statistics__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__statistics__card__img {
  display: block;
  margin: 0 24px 0 0;
}

.header__statistics__card__number {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */
  color: #222222;
}

.header__statistics__card__text {
  display: block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 155%;
  /* identical to box height, or 25px */
  color: #086CF9;
}

.main__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 36px 144px 128px;
}

.main__about__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  margin: 0;
  color: #222222;
}

.main__about__text {
  font-size: 16px;
  line-height: 155%;
  margin: 24px 79px 16px 0;
  color: #555555;
}

.main__about__info {
  font-size: 20px;
  line-height: 28px;
  color: #333333;
  margin: 0 68px 32px 0;
}

.main__about__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 32px;
  background: #086CF9;
  border-radius: 4px;
  border: 0 solid #086CF9;
  color: #FFFFFF;
}

.main__about__img {
  width: 595px;
  height: 433px;
}

.main__about__figure {
  width: 80px;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 28px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  bottom: 260px;
  left: 260px;
}

.main__service {
  margin: 0 144px 128px;
}

.main__service__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  margin: 0;
  text-align: center;
  color: #222222;
}

.main__service__text {
  font-size: 16px;
  line-height: 155%;
  /* or 25px */
  margin: 12px auto 48px;
  text-align: center;
  width: 423px;
  color: #555555;
}

.main__service__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__service__cards__card {
  width: 250px;
}

.main__service__cards__card__img {
  display: block;
  margin: 0 auto;
}

.main__service__cards__card__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  margin: 24px 0 16px;
  text-align: center;
  color: #222222;
}

.main__service__cards__card__text {
  font-size: 14px;
  line-height: 155%;
  text-align: center;
  color: #555555;
}

.main__couese {
  background: #ECF4FF;
  padding: 60px 144px;
}

.main__couese__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.main__couese__text {
  font-size: 16px;
  line-height: 155%;
  width: 674px;
  text-align: center;
  margin: 12px auto 48px;
  color: #555555;
}

.main__couese__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__couese__cards__card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 368px;
  padding: 24px 24px 35px;
  background: #FFFFFF;
  border-radius: 6px;
  margin: 0 0 30px;
}

.main__couese__cards__card__img {
  width: 100%;
  height: 208px;
  border-radius: 6px;
}

.main__couese__cards__card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px 0 25px;
}

.main__couese__cards__card__item__img {
  width: 32px;
  height: 32px;
}

.main__couese__cards__card__item__text {
  font-size: 16px;
  line-height: 155%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 0;
  color: #555555;
}

.main__couese__cards__card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 18px;
}

.main__couese__cards__card__list__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
  color: #333333;
}

.main__couese__cards__card__list__number {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
  color: #086CF9;
}

.main__couese__cards__card__text {
  margin: 0;
  font-size: 14px;
  line-height: 155%;
  width: 100%;
}

.main__couese__button {
  width: 176px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 32px;
  color: #FFFFFF;
  background: #086CF9;
  border-radius: 6px;
  border: 0 solid #086CF9;
  margin: 0 488px;
}

.main__mentor {
  margin: 128px 144px;
}

.main__mentor__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  margin: 0;
  text-align: center;
  color: #222222;
}

.main__mentor__text {
  width: 551px;
  font-size: 16px;
  line-height: 155%;
  /* or 25px */
  margin: 12px auto 48px;
  text-align: center;
  color: #444444;
}

.main__mentor__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__mentor__cards__card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.main__mentor__cards__card__img {
  width: 100%;
  height: auto;
}

.main__mentor__cards__card__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  margin: 16px 32px 8px;
  color: #222222;
}

.main__mentor__cards__card__text {
  font-size: 16px;
  line-height: 155%;
  /* identical to box height, or 25px */
  margin: 0 32px;
  color: #555555;
}

.main__mentor__cards__card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px 32px 36px;
}

.main__mentor__cards__card__item__img {
  margin: 0 8px 0 0;
}

.main__mentor__cards__card__item__text {
  font-size: 14px;
  line-height: 155%;
  /* identical to box height, or 22px */
  margin: 0 16px 0 0;
  color: #555555;
}

.main__mentor__cards__card__item__info {
  font-size: 14px;
  line-height: 155%;
  /* identical to box height, or 22px */
  margin: 0 0 0 99px;
  color: #555555;
}

.main__event {
  margin: 0 144px 128px;
}

.main__event__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  margin: 0;
  color: #222222;
  text-align: center;
}

.main__event__text {
  font-size: 16px;
  line-height: 155%;
  /* or 25px */
  margin: 12px auto 48px;
  text-align: center;
  width: 421px;
  color: #444444;
}

.main__event__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__event__cards__background {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 12px 45px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 12px 45px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.main__event__cards__card {
  width: 368px;
  margin: -62px 0 0;
}

.main__event__cards__card__img {
  width: 100%;
  height: 240px;
}

.main__event__cards__card__data {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  position: relative;
  left: 0;
  top: 62px;
  background: #086CF9;
  border-radius: 6px 0px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 12px;
  color: #FFFFFF;
  text-align: center;
  width: 65px;
}

.main__event__cards__card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin: 24px 24px 20px;
  color: #222222;
}

.main__event__cards__card__item {
  margin: 0 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 32px;
}

.main__event__cards__card__item__img {
  margin: 0 8px 0 0;
}

.main__event__cards__card__item__text {
  font-size: 14px;
  line-height: 155%;
  color: #555555;
}

.main__numbers {
  background: #D3E5FE;
  padding: 72px 286px;
}

.main__numbers__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__numbers__cards__card__number {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #222222;
  margin: 0 0 16px;
  text-align: center;
}

.main__numbers__cards__card__text {
  font-size: 16px;
  line-height: 155%;
  color: #555555;
  text-align: center;
  margin: 0;
}

.main__blog {
  margin: 128px 144px;
}

.main__blog__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  margin: 0;
  text-align: center;
  color: #222222;
}

.main__blog__text {
  width: 551px;
  font-size: 16px;
  line-height: 155%;
  margin: 12px auto 48px;
  text-align: center;
  color: #444444;
}

.main__blog__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__blog__cards__card {
  background: #FFFFFF;
  border: 0.5px solid #BFBFBF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 368px;
}

.main__blog__cards__card__img {
  width: 100%;
  height: auto;
}

.main__blog__cards__card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #222222;
  margin: 24px 29px 0;
}

.main__blog__cards__card__text {
  font-size: 14px;
  line-height: 155%;
  color: #555555;
  margin: 16px 29px 24px;
}

.main__blog__cards__card__link {
  font-size: 16px;
  line-height: 155%;
  color: #086CF9;
  margin: 0 29px 32px;
  display: block;
}

.main__blog__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 16px 32px;
  margin: 40px 514px 0;
  background: #086CF9;
  border: 0 solid #086CF9;
  border-radius: 6px;
}

.main__testimonial {
  margin: 0 144px 128px;
}

.main__testimonial__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  margin: 0;
  color: #000;
  text-align: center;
}

.main__testimonial__text {
  font-size: 16px;
  line-height: 155%;
  margin: 12px auto 42px;
  text-align: center;
  width: 500px;
  color: #555;
}

.main__testimonial__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__testimonial__cards__card {
  width: 320px;
  padding: 30px 24px 38px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 13px 45px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 13px 45px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.main__testimonial__cards__card__text {
  width: 100%;
  font-size: 16px;
  line-height: 155%;
  margin: 0 0 20px;
  color: #555555;
}

.main__testimonial__cards__card__img {
  width: 72px;
  height: 72px;
  margin: 0 16px 0 0;
}

.main__testimonial__cards__card__item {
  padding: 10px 0;
}

.main__testimonial__cards__card__item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #222222;
  margin: 0 0 8px;
}

.main__testimonial__cards__card__item__text {
  font-size: 14px;
  line-height: 155%;
  color: #555555;
  margin: 0;
}

.main__suscribe {
  background: #086CF9;
  border-radius: 6px;
  padding: 40px 200px 11px;
  margin: 0 250px 128px;
  height: 325px;
}

.main__suscribe__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: #FCFCFC;
  text-align: center;
  margin: 0;
}

.main__suscribe__text {
  font-size: 16px;
  line-height: 155%;
  width: 491px;
  text-align: center;
  color: #F9F9F9;
  text-align: center;
  margin: 12px auto 40px;
}

.main__suscribe__form {
  width: 538px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__suscribe__form__email {
  background: #FFFFFF;
  border-radius: 4px;
  outline: none;
  border: 0 solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 24px;
  width: 538px;
  height: 64px;
  display: block;
  margin: 0 auto;
}

.main__suscribe__form__text {
  font-size: 14px;
  line-height: 155%;
  color: #555555;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 0;
  margin: 0 0 0 24px;
  position: relative;
  bottom: 59px;
}

.main__suscribe__form__button {
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 115px;
  height: 48px;
  background: #086CF9;
  border-radius: 4px;
  border: 0 solid;
  color: #FFFFFF;
  margin: 0 8px 0 0;
  position: relative;
  bottom: 56px;
}

.main__suscribe__form input:focus ~ .main__suscribe__form__text {
  top: -100px;
  font-size: 12px;
  color: #FFFFFF;
}

.footer {
  background: #D3E5FE;
  padding: 60px 144px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__education {
  width: 360px;
}

.footer__education__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: #222222;
  margin: 0;
}

.footer__education__text {
  font-size: 16px;
  line-height: 21px;
  color: #444444;
  margin: 24px 0 32px;
}

.footer__education__icon {
  width: 48px;
  height: 48px;
  margin: 24px 16px 0 0;
}

.footer__links__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: #222222;
  margin: 0 0 8px;
}

.footer__links__item {
  list-style-image: url("../img/vector.svg");
  padding: 0 0 0 20px;
}

.footer__links__item li {
  margin: 0 0 16px 0;
}

.footer__links__item__text {
  font-size: 16px;
  line-height: 21px;
  color: #444444;
  text-decoration: none;
}

.footer__support__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: #222222;
  margin: 0 0 8px;
}

.footer__support__item {
  list-style-image: url("../img/vector.svg");
  padding: 0 0 0 20px;
}

.footer__support__item li {
  margin: 0 0 16px 0;
}

.footer__support__item__text {
  font-size: 16px;
  line-height: 21px;
  color: #444444;
  text-decoration: none;
}

.footer__contacts {
  width: 203px;
}

.footer__contacts__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: #222222;
  margin: 0 0 8px;
}

.footer__contacts__item {
  list-style-type: none;
  padding: 0;
}

.footer__contacts__item li {
  margin: 0 0 16px 0;
}

.footer__contacts__item__img {
  margin: 0 8px 0 0;
}

.footer__contacts__item__text {
  font-size: 16px;
  line-height: 21px;
  color: #444444;
}

@media (max-width: 1130px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    right: 0;
    left: 0;
    z-index: 50;
  }
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 136px;
    background: #fff;
    z-index: 3;
  }
  .header__logo {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
    overflow: hidden;
  }
  .header__logo__text {
    display: block;
    position: relative;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 20px;
    position: relative;
    z-index: 4;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    width: 20px;
    margin: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    width: 20px;
    margin: 0;
  }
  .header__burger span {
    background-color: #222222;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: '';
    background-color: #222222;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__nav {
    position: fixed;
    top: -100%;
    left: 0px;
    max-width: 80%;
    margin: 60px 0 0;
    -webkit-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
    overflow: auto;
    background: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 160px;
    z-index: 2;
    -webkit-transition: 1.3s ease 0s;
    transition: 1.3s ease 0s;
    border-top: 2px solid #000;
  }
  .header__nav.active {
    top: 76px;
  }
  .header__nav__link {
    display: block;
    position: relative;
  }
  .header__nav__link li {
    list-style: none;
    margin: 0 0 20px 0;
  }
  .header__nav__link__text {
    font-size: 20px;
  }
  .container {
    margin: 0 auto;
    margin: 0px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff;
  }
}
/*# sourceMappingURL=style.css.map */